    <div class="card">
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="ADD" icon="pi pi-plus" ></button>
                </ng-template>
                
                <ng-template pTemplate="right">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"  placeholder="Search BOT" />
                    </span>
                </ng-template>
            </p-toolbar>

            <p-table #dt  [value]="Apivalue" (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" [tableStyle]="{'min-width': '50rem'}"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['bot_name','version','bot_configuration_id','created_by','updated_date']">
            
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="bot_name" style="width:20%">BotName <p-sortIcon field="bot_name"></p-sortIcon><p-columnFilter type="text" field="bot_name" display="menu"></p-columnFilter></th>
                        <th pSortableColumn="version" style="width:20%">Version <p-sortIcon field="version"></p-sortIcon><p-columnFilter type="text" field="version" display="menu"></p-columnFilter></th>
                        <th pSortableColumn="bot_configuration_id" style="width:20%">BotConfigId <p-sortIcon field="bot_configuration_id"></p-sortIcon><p-columnFilter type="number" field="bot_configuration_id" display="menu"></p-columnFilter></th>
                        <th pSortableColumn="created_by" style="width:20%">Owner <p-sortIcon field="created_by"></p-sortIcon><p-columnFilter type="text" field="created_by" display="menu"></p-columnFilter></th>
                        <th pSortableColumn="updated_date" style="width:20%">UpdateTime <p-sortIcon field="updated_date"></p-sortIcon><p-columnFilter type="date" field="updated_date" display="menu"></p-columnFilter></th>
                        <th>Download</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bot>
                    <tr (dblclick)="showDialog(bot.bot_configuration_id)">
                        <td>{{bot.bot_name}}</td>
                        <td>{{bot.version}}</td>
                        <td>{{bot.bot_configuration_id}}</td>
                        <td>{{bot.created_by}}</td>
                        <td>{{bot.updated_date | date }}</td>
                        <td><i class="pi pi-cloud-download" ></i></td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
<!-- Bot Details -->
<p-dialog [(visible)]="bot_info" [style]="{width: '30vw'}">
    <div *ngFor="let val of botdetail | keyvalue">
       <p *ngIf="val.key === 'bot_name'" class="dialogheader"><b>{{val.value}}</b></p>
        <p *ngIf="val.key === 'minimum_cpu_percent_per_core'">Minimum CPU Percent : {{ val.value }}</p>
        <p *ngIf="val.key === 'minimum_ram'">Minium Ram : {{ val.value }}</p>
        <p *ngIf="val.key === 'is_active'">Is Active : {{ val.value }}</p>
        <p *ngIf="val.key === 'processing_limit'">Processing Limt : {{ val.value }}</p>
        <p *ngIf="val.key === 'delay_to'">Delay To : {{ val.value }}</p>
        <p *ngIf="val.key === 'site_id'">Site Id : {{ val.value }}</p>
    </div>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Download" icon="pi pi-cloud-download" (click)="display=false"></button>
    </ng-template>
</p-dialog>



